{% load static %}

<!DOCTYPE html>
<head>
    <title>Info Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'info1.css' %}" />
</head>
<body>
    <h1 id="text">KIM SUNG MIN | Be ambitious, Be brave, Be yourself</h1>

    <div class="top">
        <a id="current" href="{% url 'info' %}">Home</a>
        <a href="https://www.instagram.com/s_.xmile/">Contact</a>
        <a href="{% url 'project' %}">Project</a>
    </div>
    <h1 id="intro">Intro_2024ver</h1>
    <h1 id="about">PORT<br />FOLIO</h1>
    <div class="thin-line"></div>

    <img id="main_img" src="{% static 'image/img.JPG' %}" alt="home화면-내 사진" />
    <img id="back_img" src="{% static 'image/img.JPG' %}" alt="home화면-내 사진" />

    <div id="par">
        개발 역량을 갖춘 기획자가 될 김성민입니다. 개발과 기획 사이의 간극을 메꾸고 그 둘의 언어를 통역해줄 수 있는
        사람이 되고자 합니다.항상 야망있게 그리고 용감하게 문제에 내 몸을 던져보고 타인을 보며 성장하는 삶을 목표하되,
        그 안에 살아 있는 자기 자신을 잃지 않는 삶을 사는 것이 중요하다고 생각합니다. 포트폴리오가 하나 둘 씩 쌓여
        갈수록 제게 개발 역량 지식이 쌓이는 것 말고도 다양한 측면에서 배움이 늘어나기를 희망합니다. 올 해도 보람차고
        후회 없는 한 해를 잘 해나가고 싶네요.
    </div>
    <div id="par2">
        """얼음이 잘게 잘게 부서진 형태로 가득 들어있는 아이스 아메리카노, 근데 되게 쓰지 않고 고소한 그런 커피를 사.
        추운 날 밖이라면 따뜻한 말차라떼나 핫초코도 좋고 그리고 내가 좋아하는 민소매옷 또는 코디할 때마다 기분이
        좋아지는 주황색,회색,아이보리색이 뒤섞인 털목도리를 하고 있어야 돼. 아물론 이 모든 전제는 옆에 있던 사람한테는
        인사하고 바로 떨어져서 나 혼자 걸어 나와야 해 <br /><br /><br />노래는 최유리 전곡 플레이리스트를 유튜브에서
        검색해서 크게 심호흡하면서 때론 눈 감고 들으면 되고, 그보다 더 심해서 당장 울고 있는 날이면 Before you exit의
        Clouds를 1시간 짜리로 무한 재생을 하는 거지 중학생때부터 듣던 기분 테마곡이니까, 그거 듣기만해도 파블로스의
        개처럼 이제 눈물이 나오는 게 웃기기도 해 <br /><br /><br />당장 목이 시큰거리고 가슴이 답답할 정도로 울컥거리면
        일기장을 펴거나, 블로그 비공개를 열거나, 정말 가까운 사람을 바로 찾아서 신랄한 욕과 지나친 자책과 세상 비관적인
        말들을 퍼붓는 거지 그리고서는 내가 좋아하는 것들을 상상하면서 기분을 가라앉히면 돼"""<br /><br />
    </div>
    <div id="par3">- Naver Blog [일단 기분이 다운되면]에서 발췌</div>
</body>
