body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Apple SD Gothic Neo';
    font-size: larger;
}

h1 {
    color: lemonchiffon;
}
h3 {
    font-style: italic;
    color: gray;
    font-size: 20px;
    left: 10px;
}

button {
    font-size: 20px;
}

select {
    width: 100px;
    margin-bottom: 20px;
}

input {
    width: 300px;
    margin-bottom: 20px;
}
textarea {
    width: 99%;
    height: 500px;
}
