.contents {
    margin-left: 10%;
    width: 600px;
    background-color: rgba(243, 243, 162, 0.34);
    box-shadow: 2px;
    padding: 2%;
    border-style: solid;
    border-width: 0px;
    border-top-width: 3px;
}

.content {
    width: 500px;
    max-height: 100px;
}
.title {
    width: 500px;
    max-height: 100px;
}
